@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import './primitives.css';
@import './semantic.css';
@import './labels.css';
@import './typography.css';

body {
  font-family: var(--font-family-base);
  color: var(--content-primary);
  background: var(--surface-primary);
  -webkit-font-smoothing: antialiased;
}
